html, body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#left-rail a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	text-shadow: 2px 2px #333333;

}

#left-rail {
	position: absolute;
	top: 80px;
	left: 40px;
	color: #fff;
	z-index: 1;
}

#content {
	width: 100vw;
	height: 100vh;
	letter-spacing: 1px;
	overflow: hidden;
	font-family: sans-serif;
}

.row {
	width: 1000000000px;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.slide {
	width: 100vw;
	height: 100vh;
	border: black 1px solid;
	justify-content: center;
	margin-right: 40px;
	position: relative;
	display: flex;
}

.bg {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.container {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	justify-content: center;
}


.text {
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-shadow: 2px 2px #333333;
	text-decoration: none;
	z-index: 1;
}



.content a {
	color: white;
	text-decoration: none;
}

a:clicked {
	text-decoration: none;
}

.prev {
	position: absolute;
	top: 30px;
	left: 40px;
	text-decoration: none;
	z-index: 1;
}

.next {
	position: absolute;
	top: 30px;
	left: 70px;
	text-decoration: none;
	z-index: 1;
}

.down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	display: none;
}

#audio {
	position: absolute;
	bottom: 0;
	right: 0;
}

.center {
	margin: auto;
}

#float1 {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 100px;
	height: 100px;
	background-color: #79c1e0;
	display: block;
	z-index: 2;
	border-radius: 3px;
	box-shadow: 6px 6px 6px #0b8def;
	display: flex;
}

#float1 p {
	margin: auto;
}

#float2 {
	position: absolute;
	top: 55%;
	left: 55%;
	width: 100px;
	height: 100px;
	background-color: #fcd2cf;
	display: block;
	z-index: 2;
	border-radius: 3px;
	box-shadow: 6px 6px 6px #0b8def;
}

#float2 p {
/*	padding-left: 5px;
	padding-top: 5px;*/
}

#ie {
	position: absolute;
	top: 55%;
	left: 55%;
	width: 100px;
	height: 100px;
	display: block;
	z-index: 2;	
}

#float1, #float2, #ie:hover {
	cursor: pointer;
}

.front-bg {
	z-index: 1;
}

.back-bg {
	z-index: 0;
}

/*car*/

#car {
	position: absolute;
	left: 150px;
	top: 150px;
	height: 200px;
	width: 200px;
	z-index: 2;
}

#car div {
	position: absolute;
	background: white;
	box-shadow: 6px 6px 6px #0b8def;
	z-index: 2;
}

.vert {
	height: 200px;
	width: 2px;
}

.flat {
	height: 2px;
	width: 200px;
}

#box1 {
	top: 0px;
	left: 0px;
}

#box2 {
	top: 0px;
	left: 200px;
	height: 202px;
}

#box3 {
	top: 200px;
	left: 0px;
}

#box4 {
	top: 0px;
	left: 0px;
}

.open {
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
	top: -43px !important;
	left: -9px !important;
}

/*Individual Items*********/

/*Slide a1***/



#a1 .container{
	flex-direction: column;
}

#title {
	color: white;
	font-family: 'Bungee Inline', cursive;
	font-size: 42px;
	letter-spacing: 2px;
	margin: auto;
	padding-bottom: 95px;
	
}

#start {
	margin: auto;
	padding-bottom: 32%;
	font-size: 34px;
}

/*Slide b1***/

#b1 .container p {
	margin: auto;
}


#b1 {
	background-image: url(../img/akira.gif);
}

/*Slide e1***/

#e1 .bg {
	height: 103vh;
	width: 103vw;
	margin-left: -25px;
	}

/*Slide h1***/
#h1 .bg {
	 -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#i1 {
	background-image: url(../img/effigy.gif);
	background-repeat: no-repeat;
	background-size: 100vw auto;
	background-position-y: 40%; 
}

/*#i1*****/

#i1 .bg {
	margin: auto; 
}

#spin2:hover {
	cursor: pointer;
}

#spin3 {
	position: absolute;
}

#eye {
	width:50px; 
	height:50px;
	position:absolute;
	border:1px solid gray; 
	border-radius:25px;
	bottom: 15px;
	left: 47.5%; 
}
#pupil {
	width:10px; 
	height:10px; 
	left:20px; 
	top:20px; 
	border-radius:5px;
	background-color: gray;
	position:relative;
	cursor: 
}

/*i10****/

#i10 .bg {
	-moz-transform: scaleX(-1);
	     -o-transform: scaleX(-1);
	     -webkit-transform: scaleX(-1);
	     transform: scaleX(-1);
	     filter: FlipH;
	     -ms-filter: "FlipH";
}

#carl-box {
	position: absolute;
	bottom: 200px;
	left: 200px;
	height: 200px;
	width: 200px;
	border: 1px dotted white;
	z-index: 1;
}

#carl-box p{
	color: white;
}

#carl-button {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
	width: 200px;
	border: 1px solid white;
	z-index: 1;
}