html, body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/*body {
	align-items: center; 
	display: flex; 
}*/

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9998;
	background-color: white;
}

#loading {
	height: 30px;
	width: 200px;
	text-align: center;
	z-index: 9999;
	margin: 20% auto 0 auto;
	font-size: 24px;
	font-style: italic; 
}

#please {
	height: 30px;
	width: 220px;
	text-align: center;
	z-index: 9999;
	margin: 20px auto 0 auto;
	font-size: 18px;
	font-style: italic; 
}

/*#please {
	font-size: 16px;
	text-shadow: 2px 2px #262626;
	font-family: sans-serif;
	color: white;
	margin-bottom: 10px;
	align-self: center;
	font-style: italic;
}*/

.loader-icon {
	align-items: center;
	border: 4px solid #262626;
	display: flex;
	height: 110px;
	width: 110px;
	z-index: 9999;
	margin: 10px auto;
}

.loader-icon svg { 
  margin: 0 auto; 
  overflow: hidden;
}

#wave {
  stroke-dasharray: 0 16 101 16;
  animation: moveTheWave 2400ms linear infinite;  
}

@keyframes moveTheWave {
  0% { 
    stroke-dashoffset: 0; 
    transform: translate3d(0, 0, 0);
  }
  100% { 
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}

#left-rail a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	text-shadow: 2px 2px #262626;

}

#left-rail {
	position: absolute;
	top: 80px;
	left: 40px;
	color: #fff;
	z-index: 1;
}

#content {
	width: 100vw;
	height: 100vh;
	letter-spacing: 1px;
	overflow: hidden;
	font-family: sans-serif;
}

.row {
	width: 1000000000px;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.slide {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	
}

.bg {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: absolute;
}

.container {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.none {
	display: none;
}

.text {
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-shadow: 2px 2px #262626;
	text-decoration: none;
	z-index: 1;
}

.speech {
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-shadow: 2px 2px #262626;
	text-decoration: none;
	z-index: 1;
	font-style: italic;
	line-height: 21px;
}

.content a {
	color: white;
	text-decoration: none;
}

a:clicked {
	text-decoration: none;
}

.prev {
	position: absolute;
	top: 40px;
	left: 40px;
	text-decoration: none;
	z-index: 1;
}

.next {
	position: absolute;
	top: 40px;
	left: 90px;
	text-decoration: none;
	z-index: 1;
}

.down {
	position: absolute;
	top: 60px;
	left: 65.5px;
/*	font-family: 'Catamaran';
	font-size: 24px;*/
	font-size: 20px;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.up {
	position: absolute;
	top: 20px;
	left: 65.5px;
	/*font-family: 'Catamaran';
	font-size: 24px;*/
	font-size: 20px;
}

#audio {
	position: absolute;
	bottom: 0;
	right: 0;
}

.center {
	margin: auto;
}

.point {
	cursor: pointer;
}


.flip-h {
	-moz-transform: scaleX(-1);
	 -o-transform: scaleX(-1);
	 -webkit-transform: scaleX(-1);
	 transform: scaleX(-1);
	 filter: FlipH;
	 -ms-filter: "FlipH";
}

.flip-v {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.flip-hv {
	-moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.rot-90 {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rot-270 {
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

/*Individual Items*********/

/*Slide a1***/

#a1 .container{
	flex-direction: column;
}

#title {
	color: white;
	font-family: 'Bungee Inline', cursive;
	font-size: 42px;
	letter-spacing: 2px;
	margin: auto;
	padding-bottom: 95px;
	width: 250px;
	text-align: center;
}

#start {
	top: 50%;
	left:50%;
	text-decoration: none;
	z-index: 2;
}

/*Slide b1***/

#b1 .container p {
	margin: auto;
}


#b1 {
	background-image: url(../img/akira.gif);
}

/*Slide e1***/

#e1 .bg {
	height: 103vh;
	width: 103vw;
	margin-left: -25px;
	}

/*b2*/

/*#balloon {
	height: 350px;
	position: absolute;
	top: 35%;
	left: 20%;
}

#gull {
	position: absolute;
	left:-1372px;
	top: 0;
	height: 750px;
}

#gull2 {
	position: absolute;
	left:+250%;
	top: 0;
	height: 30vh;
}*/

/*a5*/

#a5 .container {
	display: block;
}

#laughter {
	height: 40px;
	width: 300px;
	margin: 30% auto 5% auto;
	margin-bottom: 200px;
	text-align: center;
}

#form-container {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	align-self:center;
}

#form-container h2 {
	font-size: 24px;
	text-shadow: 2px 2px #262626;
	font-family: 'Bungee Inline', cursive;
	color: white;
	margin-bottom: 20px;
	align-self: center;
}

#form-container h3 {
	font-size: 16px;
	text-shadow: 2px 2px #262626;
	font-family: sans-serif;
	color: white;
	margin-bottom: 10px;
	align-self: center;
	font-style: italic;
}

#form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-self: center;
	width: 500px;
}

#form input {
	height: 30px;
	margin-bottom: 15px;
	text-align: center;
	background: none;
	border-radius: 3px;
	border: 1px dotted white;
	color:  white;
}

#form button {
	width: 200px;
	height: 40px;
	margin-left: 29.5%;
	background: none;
	border-radius: 3px;
	border: 1px dotted white;
	color:  white;
}

#form button:hover {
	background: white;
	color: black;
}

/*d9*/

#d10prev2 {
	position: absolute;
	top: 80%;
	left: 5%;
}

#dprev3 {
	position: absolute;
	top: 5%;
	left: 90%;
}

#d10prev4 {
	position: absolute;
	top: 50%;
	left: 50%;
}

#d10prev5 {
	position: absolute;
	top: 50%;
	left: 50%;
}

#d10prev5 {
	position: absolute;
	top: 5%;
	left: 50%;
}

/*a9*/

#a9 .bg-h {
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

#sun-button {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 30%;
	left: 20%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*a10*/

#a10 .container {
	display: block;
}

#carl-box {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 20%;
	left: 44%;
	text-align: center;
}

#carl-button {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 43%;
	left: 43%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

/*b10*/

#b10cont {
	pointer-events: none;
}

#b10cont p {
	text-align: center;
	z-index: 3;
}

#b10cont div {
	margin: 6% auto;
}

/*box*/

.ui-state-hover {
	background-color: #fff;
}

#box {
	margin: auto;
	height: 200px;
	width: 200px;
	position: relative;
	}

#box div {
	position: absolute;
	background: white;
/*	box-shadow: 6px 6px 6px #262626*/
}

.vert {
	height: 200px;
	width: 2px;
}

.flat {
	height: 2px;
	width: 200px;
}

#box1 {
	top: 0px;
	left: 0px;
}

#box2 {
	top: 0px;
	left: 200px;
	height: 202px;
}

#box3 {
	top: 200px;
	left: 0px;
}

#box4 {
	top: 0px;
	left: 0px;
}

.open {
	-webkit-transform: rotate(25deg);
	transform: rotate(25deg);
	top: -43px !important;
	left: 10px !important;
}

/*c10*/

#water-div {
	height: 100px;
	width: 100px;
}

/*d10*/

#d10 .container {
	position: absolute;
	flex-wrap: wrap;
	background-color: #003316;
}

#d10 .prev {
	position: relative;
	flex: 0 1 auto;
	top: 0;
	left: 0;
	margin: 20px;	
}

#d10special2 {
	position: absolute;
	left: 49.5%;
	top: 49.5%;
}

/*e10*/

#floater1 {
	position: absolute;
	top: 95%;
	left: 605px;
	width: 100px;
	height: 100px;
	background-color: #79c1e0;
	border-radius: 3px;
	box-shadow: 6px 6px 6px #0b8def;
}

#floater1 p {
	margin: 40% 34%;
}

#floater2 {
	position: absolute;
	top: 40%;
	left: -110px;
	width: 100px;
	height: 100px;
	background-color: #fcd2cf;
	border-radius: 3px;
	box-shadow: 6px 6px 6px #0b8def;
}

#floater2 p {
	position: absolute;
	left: 73%;
	top: 2%;
	transform: rotate(90deg);
}

/*f10*/

#ie {
	position: absolute;
	top: 55%;
	left: 50%;
	width: 100px;
	height: 100px;

}

#side-tree2 {
	position: absolute;
	top: 20px;
	left: -50px;
	width: 400px;
}

#bird2 {
	position: absolute;
	top: 212px;
	left: 247px;
	width: 50px;
	z-index: 2;
}

#rock {
	display: none;
	position: absolute;
	top: 405px;
	left: 390px;
	width: 300px; 
	z-index: 1;
}


#f10 .prev {
	display:none;
}

/*g10*/

#g10prev {
	display: none;
}

#cloud1 {
	position: absolute;
	top: 65px;
	left: 110px;
	width: 200px;
}

#cloud2 {
	position: absolute;
	top: 65px;
	left: 500px;
	width: 250px;
}

#cloud3 {
	position: absolute;
	top: -20px;
	left: -1200px;
	height: 1000px;
}

#side-tree {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
}

#tree1 {
	position: absolute;
	top: 270px;
	left: 130px;
	width: 200px;
}

#tree2 {
	position: absolute;
	top: 420px;
	left: 520px;
	width: 400px;
}

#tree3 {
	position: absolute;
	top: 250px;
	left: 420px;
	width: 50px;
}

#bird {
	position: absolute;
	top: 265px;
	right: 132px;
	width: 50px;
}

/*h10*/

#smile1 {
	display: none;
	position: absolute;
	top: 42%;
	left: -100px;

}

#smile2 {
	display: none;
	position: absolute;
	top: 15%;
	left: 75%;

}

#smile3 {
	display: none;
	position: absolute;
	top: 15%;
	left: 25%;

}

#smile4 {
	display: none;
	position: absolute;
	top: 45%;
	left: 65%;

}

#smile5 {
	display: none;
	position: absolute;
	top: 75%;
	left: 75%;

}

#smile6 {
	display: none;
	position: absolute;
	top: 60%;
	left: 30%;

}

#smile7 {
	display: none;
	position: absolute;
	top: 25%;
	left: 80%;

}

#smile8 {
	display: none;
	position: absolute;
	top: 45%;
	left: 90%;

}

#smile9 {
	display: none;
	position: absolute;
	top: 15%;
	left: 15%;

}

#smile10 {
	display: none;
	position: absolute;
	top: 80%;
	left: 50%;

}

#smile11 {
	display: none;
	position: absolute;
	top: 40%;
	left: 40%;

}

#smile12 {
	display: none;
	position: absolute;
	top: 70%;
	left: 10%;

}

#smile13 {
	display: none;
	position: absolute;
	top: 10%;
	left: 55%;

}

#spin2:hover {
	cursor: pointer;
}

#spin3 {
	position: absolute;
}

/*carl*/

/*#carl-box {
	position: absolute;
	bottom: 200px;
	left: 200px;
	height: 200px;
	width: 200px;
	border: 1px dotted white;
	z-index: 1;
}

#carl-box p{
	color: white;
}

#carl-button {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
	width: 200px;
	border: 1px solid white;
	z-index: 1;
}*/

